<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course Enrollment</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
  | <a href="/">Home</a> | 
  <a href="/students">Students</a> | 
  <a href="/courses">Courses</a> | 
  <a href="/instructors">Instructors</a> | 
  <a href="/majors">Majors</a> | 
  <a href="/sections">Sections</a> | 
  <a href="/enrollments">Enrollments</a> |
</nav>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>