<h1>Welcome to Course Enrollment App</h1>
<ul>
  <li><a href="/students">Students</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/sections">Sections</a></li>
  <li><a href="/instructors">Instructors</a></li>
  <li><a href="/majors">Majors</a></li>
</ul>
