<h1>Welcome to the Course Management System</h1>
<ul>
  <li><a href="/students">Manage Students</a></li>
  <li><a href="/majors">Manage Majors</a></li>
  <li><a href="/instructors">Manage Instructors</a></li>
  <li><a href="/courses">Manage Courses</a></li>
  <li><a href="/sections">Manage Sections</a></li>
</ul>

